spring:
  application:
    name: monew_batch
  profiles:
    active: dev
  config:
    import: optional:file:.env[.properties]

monew:
  article-ingestion:
    schedule:
      cron: ${ARTICLE_JOB_CRON:0 0 * * * *} # 매시간 정각 실행 (환경에 맞게 조정)
    openapi:
      base-url: ${NAVER_API_URL:https://openapi.naver.com/v1/search/news.json}
      api-key: ${NAVER_API_CLIENT_ID}
      api-secret: ${NAVER_API_CLIENT_SECRET}
    rss:
      feeds:
        - name: hankyung
          url: ${HANKYUNG_RSS_URL:https://www.hankyung.com/feed/all-news}
        - name: chosun
          url: ${CHOSUN_RSS_URL:https://www.chosun.com/arc/outboundfeeds/rss/?outputType=xml}
        - name: yeonhap
          url: ${YEONHAP_RSS_URL:https://www.yonhapnewstv.co.kr/browse/feed/}
  article-backup:
    schedule:
      cron: ${ARTICLE_BACKUP_CRON:0 10 0 * * *} # 매일 자정 10분 실행

  storage:
    s3:
      access-key: ${AWS_ACCESS_KEY}
      secret-key: ${AWS_SECRET_KEY}
      region: ${AWS_S3_REGION}
      bucket: ${AWS_S3_BUCKET}
      expiration: ${AWS_S3_PRESIGNED_URL_EXPIRATION:600} # (기본값: 10분)

management:
  endpoints:
    web:
      exposure:
        include: health,info,metrics
  metrics:
    tags:
      application: ${spring.application.name}
    export:
      cloudwatch:
        enabled: ${CLOUDWATCH_METRICS_ENABLED:true}
        namespace: ${CLOUDWATCH_NAMESPACE:monew/batch}
        step: ${CLOUDWATCH_EXPORT_STEP:1m}
        batchSize: ${CLOUDWATCH_EXPORT_BATCH_SIZE:20}
        region: ${CLOUDWATCH_REGION:ap-northeast-2}
